@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.yellow-hills-logo {
  width: 50px;
  height: 50px;
  border-radius: 5px;
}
#navItem1 {
  color: #323f4b;
  font-family: "Roboto";
}
#navItem2 {
  color: #323f4b;
  font-family: "Roboto";
}
#navItem3 {
  color: #323f4b;
  font-family: "Roboto";
}
#navItem4 {
  color: #323f4b;
  font-family: "Roboto";
}
.banner-section-bg-container {
  background-image: url("https://media.istockphoto.com/photos/silhouette-of-a-strong-fighter-picture-id479009174?k=20&m=479009174&s=612x612&w=0&h=Eqlthny35ZrQ5F4lPCWmCFCfxC22z5oonUJSk28nLXs=");
  height: 100vh;
  background-size: cover;
}
.banner-heading {
  color: white;
  font-family: "Roboto";
  font-size: 45px;
  font-weight: 300;
}
.banner-caption {
  color: #f5f7fa;
  font-family: "Roboto";
  font-size: 24px;
  font-weight: 300;
}
.custom-button {
  color: white;
  background-color: #d0b200;
  width: 130px;
  height: 45px;
  border-width: 0;
  border-radius: 8px;
  margin-right: 10px;
}
.custom-outline-button {
  color: #d0b200;
  background-color: transparent;
  width: 130px;
  height: 45px;
  border-style: solid;
  border-width: 1px;
  border-color: #d0b200;
  border-radius: 8px;
}
.wcu-section {
  background-color: #f9fbfe;
}
.wcu-section-heading {
  color: #183b56;
  font-family: "Roboto";
  font-size: 28px;
  font-weight: 700;
}
.wcu-section-description {
  color: #5a7184;
  font-family: "Roboto";
  font-size: 16px;
}
.wcu-card {
  text-align: center;
  background-color: white;
  border-style: solid;
  border-width: 1px;
  border-color: #e5eaf4;
  border-radius: 16px;
}
.wcu-card-image {
  width: 300px;
  height: 300px;
}
.wcu-card-title {
  color: #323f4b;
  font-family: "Roboto";
  font-size: 22px;
  font-weight: 500;
}
.wcu-card-description {
  color: #7b8794;
  font-family: "Roboto";
  font-size: 16px;
}
.full-menu-section {
  background-color: white;
}
.menu-section-heading {
  color: #183b56;
  font-family: "Roboto";
  font-size: 28px;
  font-weight: 700;
}
.menu-item-image {
  border-radius: 16px;
}
.menu-card-title {
  color: #323f4b;
  font-family: "Roboto";
  font-size: 28px;
  font-weight: 800;
  margin-top: 24px;
}
.menu-item-link {
  color: #d0b200;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 500;
}
.menu-item-card {
  border-radius: 16px;
}
.plans-and-fees-section {
  background-color: white;
}
.plans-and-fees-section-img {
  width: 270px;
}
.plans-and-fees-section-heading {
  color: #183b56;
  font-family: "Roboto";
  font-size: 28px;
  font-weight: 700;
}
.plans-and-fees-section-description {
  color: #5a7184;
  font-family: "Roboto";
  font-size: 16px;
}
.payment-img {
  width: 60px;
  height: 50px;
  margin-right: 25px;
}
.offer{
    color: black;
    font-weight: bold;
    font-style: italic;
    
}
.follow-us-section {
  background-color: white;
}
.follow-us-section-heading {
  text-align: center;
  color: #183b56;
  font-family: "Roboto";
  font-size: 28px;
  font-weight: 700;
}
.follow-us-icon-container {
  background-color: #494F55;
  width: 80px;
  height: 80px;
  border-radius: 40px;
  margin: 15px;
  padding-top: 22px;
  padding-bottom: 14px;
  padding-right: 16px;
  padding-left: 22px;
}
.icon {
  color: #fdfc05;
  font-size: 35px;
}
.footer-section {
  background-color: #0d2436;
}
.yellow-hills-footer-logo{
  width: 150px;
  height: 130px;
  border-radius: 10px;
}
.footer-section-mail-id {
  color: #959ead;
  font-family: "Roboto";
  font-weight: bold;
  font-size: 16px;
  margin-top: 20px;
}
.footer-section-address {
  color: #959ead;
  font-family: "Roboto";
  font-size: 14px;
}